@import "tailwindcss";

@config "../tailwind.config.js";

/* Home Page (/) */

.main_graphic {
    background: url("/main-visual.png");
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.main_text {
    padding: 1em;
    z-index: 10;
}

/* Fred AI Page (/fred-ai) */

.fred_ai_content {
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: fit-content;
}

.fred_ai_intro {
    padding: 0.5em;
    border: 2px solid gray;
}

.fred_ai_posts {
    padding-top: 1em;
}